*{
    
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    padding-left: 100px;
    margin: 0;
}

.title {
    flex: 1 0 auto;
    align-self: center;
    padding: 12px;
    font-weight: 700;
    color: #f9faf8;
}

.header img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 12px 0px;
}

ul {
    display: flex;
    flex: auto;
    padding-right: 100px;
    gap: 30px;
    justify-content: flex-end;
    list-style-type: none;
}

.links {
    flex-shrink: 0;
    align-self: center;
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.intro {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    padding: 80px 50px;
    justify-content: center;
    padding-top: 150px;
}

.intro-text {
    width: 450px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 24px;
    font-size: 24px;
    padding: 0;
}

.intro-text h2 {
    font-size: 50px;
    margin: 12px 0px;
    margin-bottom: 0;
}

.intro-text p {
    margin-top: 8px;
    font-size: 17px;
}

.intro-image {
    flex-shrink: 2;
    flex-wrap: wrap;
}

.intro-image img{
    width: 500px;
    height: 350px;
    border-radius: 8px;
    border: 2px solid #3882f6;
}

.top-button {
    padding: 8px 24px;
    border: 2px solid #3882f6;
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: 700;
    font-size: 14px;
    flex: 0 1 0;
    width: 105px;
}

.main {
    display: flex;
    flex-direction: column;
}

.main h4 {
    text-align: center;
    font-size: 28px;
    margin: 12px;
}

.main-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content {
    margin: 12px;
    text-align: center;
}

.content img {
    border-radius: 8px;
    border: 2px solid #3882f6;
}

.quote {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    padding: 36px 24px;
    margin: 24px 0px;
}

.quote-text {
    text-align: center;
}

.author {
    font-weight: 1200px;
    align-self: flex-end;
    margin: 12px 24px;
}

.action {
    display: flex;
    background-color: #3882f6;
    padding: 24px;
    color: #e5e7eb;
    justify-content: space-between;
    margin: 0px 100px;
    border-radius: 8px;
}

.action-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.action-text p {
    margin: 0;
}

.action-text h4 {
    margin: 0;
    align-self: flex-start;
}

.bottom-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-button button {
    border: 2px solid #e5e7eb;
    width: 100px;
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 6px;
    font-weight: 700;
}

.footer {
    margin-top: 24px;
    background-color: #1f2937;
    padding: 24px;
    text-align: center;
    color: #e5e7eb;
}